@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #021a20;;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #1b515e;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #342f4e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.container {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* flex-direction: column; */

}
.contact {
  width: 30%;
  padding: 10px;
}
.contact ul {
  padding: 6px;
  margin: 0px;
  margin-top: 50px;
  min-width: 40%;
  height: 260px;
  overflow: scroll;
  border-radius: 6px;
  background-color: #1b515e;
  position: relative;
}
.contact-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b515e
}
.list{
  background-color: #1b515e;
  color: #ffffff;
}
.fa-user, .fa-phone{
  color: green;margin-right: 8px;
  font-weight: 500;
}
.counter{
text-align: center;
text-transform: capitalize;
  background-color: #1b515e;
 color :rgb(216, 197, 197);
 font-size: 12px;
}
.contact ul .list_item{
  margin: 10px 0px;
  /* border: 1px solid gray; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  color: #f0e7e7;
  background-color: #073541;;
  align-items: center;
  font-weight: 200;
  font-size: 13px;
}
.contactf, .fnln, .btni, i{
  background-color: #073541;
}
.contactf{
  padding-top: 5px;
}
.form {
  width: 25%;
  padding: 30px 5px;
  height: 280px;
  margin-top: 40px;
  border-radius: 8px;
  background-color: #073541;
}
.form h3 {
  text-align: center;
  background-color: #073541;
  color: #b9afaf;
}
.required{
  color:red;
  background-color: transparent;
  font-size: 13px;
  margin-left :  30px
}
.inputdiv {
  width: 80%;
  margin: 20px auto 0px auto;
  border-bottom: 0.4px solid #9f9f9f;
  background: transparent;
  position: relative;
}
.btnedit{
  color: rgb(34, 173, 34);
}
.btnedit:hover{
  color: rgb(0, 255, 0);
}
.btndele{
color: rgb(158, 34, 34);
}
.btndele:hover{
  color: rgb(253, 0, 0);
}
input {
  border: none;
  outline: none;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  background: transparent;
}

.filediv{
  width: 80%;
  margin: 15px auto;
}
.btn{
  width: 100%;
  text-align: center;
  background-color: #073541;
  margin-top: 10px;
}
.btn button{
  text-align: center;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #021a20;;
transition: all 0.5s  linear;
  color: #ffffff;
}
.btn button:hover{
  background-color: #0b333d;
}
.butns{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width:900px){
  .container{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .contact{
    width: 60%;
  }
  .form{
    width: 60%;
  }
}
@media screen and (max-width:500px){
  .contact{
    width: 80%;
  }
  .form{
    width: 80%;
  }
}